.darkMode {
    .cardPhone {
        box-shadow: none;
        background-color: $color-dark-4;
        img {
            box-shadow: none;
        }
        .cardPhone__title,
        .cardPhone__text {
            color: $color-blue-4;
        }
    }
}
